html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

html, body, .all {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";
}

a {
  text-decoration: none;
}

.h_first {
  width: 1200px;
  margin: 0 auto;
  height: 109px;
}

.f_right {
  float: right;
}

.f_left {
  margin-top: 20px;
}
.f_left span {
  display: block;
  font-size: 12px;
  color: #333;
  margin-top: 22px;
  line-height: 25px;
  margin-left: 12px;
}
.f_left img, .f_left span {
  float: left;
}
.f_left em {
  color: #3ebee6;
}

.f_right {
  margin-top: 21px;
}
.f_right .soso {
  display: inline-block;
  width: 70px;
  margin: 0 21px;
  color: #000;
  text-align: center;
  line-height: 37px;
}
.f_right .active {
  color: red;
  border-bottom: 1px solid red;
}
.f_right img {
  display: inline-block;
  margin-left: 97px;
  position: relative;
  top: 5px;
}
.f_right .lo {
  color: #333;
  margin: 0 8px;
}

.module1 {
  width: 1158px;
  padding-left: 40px;
  margin: 0 auto;
  border: 1px solid #d2d8d5;
  background: #ECECEC;
  font-size: 12px;
  padding-bottom: 13px;
}
.module1 em, .module1 span {
  float: left;
  display: inline-block;
  margin-top: 24px;
}
.module1 .m1_right {
  float: right;
  padding-top: 22px;
  padding-right: 25px;
}
.module1 .m1_right p {
  padding-bottom: 10px;
}
.module1 em {
  display: inline-block;
  width: 65px;
  height: 28px;
  background: #3B99CD;
  color: #FFFFFF;
  text-align: center;
  line-height: 28px;
  border-radius: 28px;
  margin-right: 12px;
}
.module1 span {
  font-size: 14px;
  display: inline-block;
  padding-top: 8px;
}

.module2 {
  width: 1158px;
  padding-left: 40px;
  margin: 0 auto;
  border: 1px solid #d2d8d5;
  font-size: 12px;
  margin-top: 20px;
}
.module2 .m2_left {
  float: left;
}
.module2 .m2_left h2 {
  font-size: 14px;
  font-weight: 700;
  padding-left: 0px !important;
}
.module2 .m2_left h2, .module2 .m2_left p {
  float: left;
  padding-top: 33px;
  padding-left: 30px;
  font-size: 12px;
}
.module2 .m2_right {
  float: right;
}
.module2 .m2_right img, .module2 .m2_right span {
  display: block;
  float: left;
}
.module2 .m2_right img {
  padding: 20px 40px 20px 0;
}
.module2 .m2_right span {
  width: 165px;
  height: 100%;
}
.module2 .m2_right span a {
  display: block;
  height: 65px;
  text-align: center;
  line-height: 65px;
}
.module2 .m2_right span .sc {
  background: #FCF1F2;
  color: #000;
}
.module2 .m2_right span .fs {
  background: #CB0226;
  color: #ffffff;
}

.module3 {
  width: 1158px;
  padding-left: 40px;
  margin: 0 auto;
  border: 1px solid #d2d8d5;
  font-size: 12px;
  margin-top: 20px;
}
.module3 h2, .module3 p {
  float: left;
  padding: 32px 0;
}
.module3 h2 {
  font-size: 14px;
  font-weight: 700;
}
.module3 p {
  padding-left: 30px;
}

.module4 {
  width: 1158px;
  padding-left: 40px;
  margin: 0 auto;
  border: 1px solid #d2d8d5;
  font-size: 12px;
  margin-top: 20px;
}
.module4 ul {
  float: left;
  margin-top: 32px;
  margin-bottom: 30px;
}
.module4 h2 {
  font-weight: 700;
  font-size: 14px;
}
.module4 li {
  padding-bottom: 24px;
}
.module4 li a {
  display: block;
  width: 460px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #FDF2E0;
  border: 1px solid #F8852F;
  border-radius: 15px;
  color: #666666;
}
.module4 li a em {
  color: #F8852F;
}
.module4 .qzyx {
  padding-right: 64px;
  border-right: 1px solid #E4E3E3;
}
.module4 .jbzl {
  margin-left: 64px;
  margin-right: 250px;
}
