html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  text-decoration: none !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#pcounts {
  padding-top: 20px;
  width: 100%;
  min-height: 629px;
  background: #F8F8F8;
}

.pcount {
  width: 1200px;
  min-height: 629px;
  margin: 0 auto;
}

.navShow {
  width: 1044px;
  padding: 20px;
  background: #FFF;
  height: 100%;
}
.navShow .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.navShow .title p {
  font-size: 14px;
  padding-left: 10px;
  border-left: 2px solid #88b7e0;
  font-weight: 700;
}

.nav {
  width: 156px;
  background: #E7EBEF;
  font-size: 14px;
  font-weight: 700;
}
.nav a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;
  padding-left: 30px;
  padding-right: 20px;
}
.nav a.active {
  background: #fff;
}
.nav dd a {
  font-size: 12px;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  display: block;
  padding-left: 10px;
  text-indent: 30px;
}
.nav dt a {
  display: block;
}
.nav dt a .glyphicon {
  float: right;
}

.nav, .navShow {
  float: left;
  min-height: 629px;
}

.first {
  padding: 40px 0;
}
.first .f1, .first .f2, .first .f3 {
  float: left;
}
.first .f1 {
  padding-left: 15px;
  border-right: 1px solid #eeeeee;
}
.first .f1 img {
  margin-right: 20px;
  cursor: pointer;
}
.first .f1 section {
  width: 140px;
}
.first .f1 > img, .first .f1 section {
  float: left;
  font-size: 14px;
}
.first .f1 > img p, .first .f1 section p {
  padding-top: 25px;
}
.first .f1 > img p span, .first .f1 section p span {
  padding-right: 10px;
}
.first .f2 {
  width: 460px;
  padding-left: 30px;
  font-size: 14px;
  padding-top: 12px;
  height: 86px;
  border-right: 1px solid #eeeeee;
}
.first .f2 p {
  padding-top: 13px;
}
.first .f2 p img {
  position: relative;
  top: 3px;
}
.first .f3 {
  font-size: 14px;
  padding-left: 117px;
}
.first .f3 span {
  display: inline-block;
  width: 54px;
  text-align: center;
  color: #ff6c00;
  padding-top: 30px;
  padding-bottom: 20px;
}

.second {
  width: 100%;
}
.second .state {
  cursor: pointer;
}
.second .state img {
  position: relative;
  top: -10px !important;
  left: -5px !important;
}
.second h3 {
  width: 100%;
  height: 40px;
  background: #eeeeee;
  text-indent: 12px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
}
.second li {
  padding-left: 10px;
  font-size: 14px;
  padding-top: 25px;
  border-bottom: 1px solid #eeeeee;
}
.second li section {
  padding-bottom: 20px;
}
.second li p {
  font-size: 12px;
  color: #252a2f;
  padding-bottom: 20px;
}
.second .type {
  display: inline-block;
  width: 45px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  background: #007fff;
  color: #FFF;
  border-radius: 3px;
  margin-right: 15px;
}
.second .active {
  background: #ff9000;
}
.second .name {
  color: #007fff;
}
.second .s1Right {
  float: right;
  padding-right: 10px;
}
.second .s1Right img {
  padding-right: 10px;
  position: relative;
  top: 3px;
}
.second .s1Right a {
  display: inline-block;
  margin-right: 30px;
}

.third {
  width: 100%;
  font-size: 14px;
}
.third h3 {
  width: 100%;
  height: 40px;
  background: #eeeeee;
  text-indent: 12px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
}
.third h3 .switch {
  font-size: 12px;
}
.third h3 .switch a {
  display: inline-block;
}
.third h3 .switch a:nth-of-type(1) {
  padding-right: 10px;
}
.third h3 .switch .active {
  color: #000000;
}
.third dl {
  border-bottom: 1px solid #eeeeee;
}
.third dd, .third dt {
  float: left;
}
.third dt {
  float: right;
  padding-top: 20px;
}
.third dt a {
  display: block;
  width: 68px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.third dt .apply {
  background: #007fff;
  color: #FFF;
  border-radius: 3px;
}
.third dd {
  padding: 15px 0;
  color: #007fff;
}
.third dd p {
  color: #000000;
  padding: 15px 0;
  font-size: 12px;
}
.third .company, .third .city, .third .state, .third .pay {
  padding-right: 20px;
}

.padding {
  margin-top: 150px;
}

.padding2 {
  position: absolute;
  bottom: 20px;
  left: 47px;
}

.padding3 {
  margin-top: 20px;
  margin-right: -6px;
}

.jt {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  z-index: 1;
}

.container {
  position: relative;
  left: -108px;
}

.cropped {
  position: relative;
}

#img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.detail {
  width: 362px;
  height: 362px;
  position: absolute;
  left: 50%;
  margin-left: -181px;
  margin-top: -181px;
  background: #fff;
  top: 50%;
  border-radius: 5px;
}
.detail h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding-top: 28px;
}
.detail h4 {
  font-size: 12px;
  color: #797979;
  text-align: center;
  padding-top: 35px;
}
.detail h5 {
  font-size: 12px;
  color: #ff8800;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail h5 em {
  font-weight: 700;
  color: #000000;
}
.detail section {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 12px;
}
.detail section span, .detail section input {
  float: left;
}
.detail section span {
  width: 70px;
  margin-right: 10px;
  text-align: right;
}
.detail section em, .detail section span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.detail section em {
  color: red;
}
.detail section .phone {
  width: 220px;
  height: 30px;
}
.detail section .yzm {
  width: 110px;
  height: 30px;
  margin-right: 10px;
}
.detail section .hqyzm {
  width: 100px;
  height: 30px;
}
.detail section .btn.comm {
  margin-top: 20px;
  width: 138px;
  height: 38px;
  margin-left: 10px;
}

.color2 {
  background: rgba(0, 0, 0, 0.7) !important;
}

.pBalert {
  width: 1200px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  margin-left: -600px;
  top: 10px;
  z-index: 10;
}
.pBalert strong {
  font-weight: 700;
}

.title.jlCenter {
  position: relative;
}

.Fq, .Fj {
  width: 72px;
  height: 22px;
  border-radius: 3px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  color: #FFF;
  font-weight: 400;
  float: right;
  position: relative;
  top: -10px;
}

.Fq {
  background: #2178FB;
}

.Fj {
  background: #FF8021;
  left: -5px;
}

.second.jiCenter h3 .active {
  background: #eeeeee;
  color: #000000;
}

.second.jiCenter {
  margin-top: 30px;
}

.third.zwCenter {
  margin-top: 30px;
}
.third.zwCenter .inline {
  display: inline-block;
}
.third.zwCenter .zwNav {
  background: #eeeeee;
  padding: 20px 10px;
}
.third.zwCenter .seek {
  display: inline-block;
  width: 300px;
  position: relative;
  float: right;
}
.third.zwCenter .zwNav a {
  display: inline-block;
  width: 68px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.third.zwCenter .zwNav .apply {
  background: #007fff;
  color: #FFF;
  border-radius: 3px;
}
.third.zwCenter .delete {
  color: red;
}
.third.zwCenter dl .inline {
  position: relative;
  margin: 5px 10px;
  top: 8px;
}

.third.newsCenter .zwNav {
  background: #eeeeee;
  padding: 10px;
  margin-top: 30px;
}
.third.newsCenter .zwNav .seek {
  width: 300px;
  float: right;
}

.newsCenter dd > img {
  width: 200px;
  height: 145px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}
.newsCenter dt {
  float: right;
  padding-top: 57px;
}
.newsCenter .center {
  margin-left: 16px;
}
.newsCenter .center .name {
  display: inline-block;
  margin-top: 16px;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
.newsCenter .center .Ftime, .newsCenter .center .net, .newsCenter .center .autor {
  margin-right: 20px;
}
.newsCenter .center img {
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.newsCenter .count {
  width: 576px;
  line-height: 24px;
  margin-top: 10px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.newsCenter .delete {
  color: red;
}

#pcounts .count {
  min-width: 400px;
  margin: 0;
}
#pcounts .issue {
  margin: 0;
}
#pcounts .inputShow {
  max-width: 1004px;
}
#pcounts .issue section .i_padding {
  width: 92px;
  padding-right: 15px;
  text-align: right;
}

.third.zwCenter.infoCenter {
  margin-top: 15px;
}
.third.zwCenter.infoCenter dl {
  position: relative;
}
.third.zwCenter.infoCenter dl .type {
  color: #000000;
  font-size: 14px;
}
.third.zwCenter.infoCenter dl .type em {
  font-size: 12px;
  padding-left: 12px;
}
.third.zwCenter.infoCenter dl .detailMes {
  width: 100%;
  padding-left: 45px;
  border-top: 1px solid #eeeeee;
  line-height: 24px;
  color: #000000;
}
.third.zwCenter.infoCenter dl .unfold img {
  display: inline-block;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.third.zwCenter.infoCenter dl dt {
  padding-top: 26px;
}

.bord {
  margin-top: 20px;
  font-size: 12px;
}
.bord a {
  display: inline-block;
  padding-bottom: 10px;
  color: #000000;
  margin-right: 30px;
}
.bord a em {
  display: inline-block;
  padding: 5px;
  background: #E48420;
  border-radius: 3px;
  color: #FFFFFF;
}
.bord a.active {
  border-bottom: 1px solid #007fff;
}

#pcounts .issue h2 {
  font-size: 14px;
  padding-bottom: 14px;
  color: #88b7e0;
  border-top: 1px solid #eeeeee;
  border-bottom: none;
  font-weight: 400;
  padding-top: 37px;
  margin-bottom: 8px;
  margin-top: 20px;
  text-indent: 10px;
}
