html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: initial;
}

a {
  text-decoration: none !important;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

html, body, .all {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";
}

#pageDiv {
  margin: 40px 0px 0px auto;
  line-height: 35px;
  font-size: 14px;
  padding-bottom: 30px;
}

#pageDiv a {
  display: block;
  float: left;
  padding: 0px 12px;
  text-align: center;
  color: #444;
  border: solid 1px #ececec;
  margin-left: -1px;
}

#pageDiv a:hover {
  background: #f4f4f4;
  color: #a5a5a5;
}

#pageDiv a.cur {
  background: #f4f4f4;
  color: #a5a5a5;
  cursor: text;
}

.ovfHiden {
  overflow: hidden;
  height: 100%;
}

table thead {
  height: 70px;
  line-height: 70px;
  font-weight: 700;
  color: #666666;
}
table tbody tr:hover {
  background: #F6F7F9;
  border-bottom: 1px dashed #F6F7F9;
  transition: all .3s ease-in;
}
table tr {
  border-bottom: 1px dashed #CCC;
  height: 68px;
  line-height: 70px;
  font-size: 16px;
  color: #666666;
}
table tr td, table tr th {
  text-align: center;
}
table tr td a, table tr th a {
  display: inline-block;
  width: 100px;
  height: 34px;
  line-height: 34px;
  border-radius: 5px;
}
table tr td .hr_xq, table tr th .hr_xq {
  background: #1791DF;
  color: #FFFFFF;
}
table tr td .hr_sc, table tr th .hr_sc {
  background: #F8C784;
  color: #FB882C;
}
table tr td .hr_sc img, table tr th .hr_sc img {
  position: relative;
  top: 3px;
}

a {
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 500px;
  background: url(../images/seek_banner.png) no-repeat;
}

.ba_count {
  width: 1100px;
  margin: 0 auto;
  padding: 68px 45px;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 130px;
  border-radius: 5px;
  color: #666666;
}
.ba_count span img {
  width: 13px;
  height: 13px;
}
.ba_count a img {
  width: 30px;
  height: 30px;
}
.ba_count .work, .ba_count .rz, .ba_count input, .ba_count a {
  display: inline-block;
  height: 58px;
  border: 1px solid #cac9c9;
  float: left;
  margin-right: 10px;
  line-height: 60px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}
.ba_count .work {
  width: 160px;
  cursor: pointer;
  position: relative;
}
.ba_count .work img {
  margin-left: 10px;
}
.ba_count .work .hr_chang {
  position: absolute;
  width: 160px;
  height: 180px;
  top: 0px;
  left: 0;
  z-index: 10;
  display: none;
}
.ba_count .work .hr_chang a {
  width: 158px;
  color: #666666;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.ba_count .work .hr_chang a:hover {
  background: #3fb5eb;
  border: 1px solid #3fb5eb;
  color: #FFFFFF;
}
.ba_count .work .hr_chang .hr_j {
  margin-top: 58px;
}
.ba_count .rz {
  width: 215px;
  cursor: pointer;
  text-align: left;
  padding-left: 10px;
}
.ba_count .rz img {
  margin-left: 110px;
}
.ba_count input {
  width: 465px;
  height: 56px;
  text-align: left;
  text-indent: 30px;
  font-size: 16px;
}
.ba_count .hr_se {
  width: 110px;
  margin-right: 0;
  height: 58px;
  background: #3fb5eb;
  border: 1px solid #3fb5eb;
  color: #FFFFFF;
}
.ba_count .hr_se img {
  display: inline-block;
  margin-top: 15px;
  margin-right: 5px;
}
.ba_count .hr_se em {
  position: relative;
  top: -10px;
}
.ba_count > p {
  margin-top: 20px;
  color: #999999;
}
.ba_count > p span {
  margin-left: 28px;
  color: #999999;
}

#area {
  margin-top: 30px;
}

.forexample {
  display: none;
}

.pro dl {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.pro, .city, .sta {
  width: 1200px;
  margin: 10px auto;
  font-size: 16px;
}
.pro h5, .city h5, .sta h5 {
  padding-left: 10px;
  border-left: 2px solid #1791DF;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.pro a, .city a, .sta a {
  display: inline-block;
  padding: 10px;
  color: #666666;
}
.pro .active, .pro a:hover, .city .active, .city a:hover, .sta .active, .sta a:hover {
  background: #1791DF;
  color: #FFFFFF;
  border-radius: 5px;
  transition: all .3s ease-in;
}
.pro dl, .city dl, .sta dl {
  width: 1040px;
}
.pro dl dt, .city dl dt, .sta dl dt {
  width: 85px;
}
.pro dl dd, .city dl dd, .sta dl dd {
  width: 955px;
}
.pro dl dd a, .city dl dd a, .sta dl dd a {
  margin-right: 10px;
}
.pro dl dd, .pro dl dt, .city dl dd, .city dl dt, .sta dl dd, .sta dl dt {
  float: left;
}
.pro h5, .pro dl, .city h5, .city dl, .sta h5, .sta dl {
  float: left;
}

.dr_table {
  width: 1200px;
  margin: 30px auto;
}
.dr_table .hr_list {
  width: 20%;
}
.dr_table .hr_area {
  width: 12.5%;
}
.dr_table .hr_sign {
  width: 8%;
}
.dr_table .hr_pay {
  width: 12.5%;
}
.dr_table .hr_name {
  width: 8%;
}
.dr_table .hr_time {
  width: 12.5%;
}

.hr_popup {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
}
.hr_popup .hr_pop {
  width: 860px;
  height: 514px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  margin-left: -430px;
  top: 50%;
  margin-top: -260px;
  border-radius: 10px;
  overflow: hidden;
}
.hr_popup .hr_pop h2 {
  border-top: 5px solid #FC0019;
  border-radius: 10px;
  height: 68px;
  line-height: 70px;
  padding-left: 25px;
}
.hr_popup .hr_pop h2 a {
  float: right;
  margin-right: 25px;
}
.hr_popup .hr_pop .hr_count {
  border-top: 1px solid #C6C6C6;
}
.hr_popup .hr_pop .hr_count .ct_left, .hr_popup .hr_pop .hr_count .ct_right {
  float: left;
}
.hr_popup .hr_pop .hr_count .ct_left {
  width: 162px;
  background: #F0F0F0;
}
.hr_popup .hr_pop .hr_count .ct_left li a {
  display: block;
  border-left: 7px solid #F0F0F0;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #333333;
}
.hr_popup .hr_pop .hr_count .ct_left .active {
  border-left: 7px solid #F90023;
  background: #FFFFFF;
}
.hr_popup .hr_pop .hr_count .ct_right {
  width: 698px;
}
.hr_popup .hr_pop .hr_count .ct_right a {
  display: inline-block;
  padding: 16px 20px;
  margin: 2px 10px;
  font-size: 14px;
  color: #333333;
}
.hr_popup .hr_pop .hr_count .ct_right a:hover {
  background: #1791DF;
  color: #FFFFFF;
  border-radius: 5px;
  transition: all .3s ease-in;
}

.ct_left {
  position: relative;
  overflow: hidden;
  width: 162px;
  height: 440px;
}
.ct_left ul {
  width: 162px;
  height: auto;
}

.full-time {
  width: 1198px;
  margin: 30px auto;
  height: 68px;
  line-height: 60px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.full-time .ft_area {
  margin: 0 30px;
  font-size: 14px;
  font-weight: 700;
}
.full-time a {
  font-size: 16px;
  margin-left: 14px;
}

.ft_table {
  width: 1200px;
  margin: 0 auto;
}
.ft_table .ft01 {
  width: 25%;
}
.ft_table .ft07 {
  width: 12%;
}
.ft_table .ft08 {
  width: 25%;
}
.ft_table .ft02, .ft_table .ft03, .ft_table .ft04, .ft_table .ft05, .ft_table .ft06 {
  width: 7.6%;
}

.full-time, .ft_table {
  display: none;
}

.ba_count .hr_se {
  position: relative;
}
